@font-face {
    font-family: "DM Sans";
    src: url("../assets/fonts/dm-sans/DMSans-VariableFont_opsz,wght.ttf") format("truetype");
    font-weight: 100 1000;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Fraunces";
    src: url("../assets/fonts/fraunces/Fraunces-VariableFont_SOFT,WONK,opsz,wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Fraunces";
    src: url("../assets/fonts/fraunces/Fraunces-Italic-VariableFont_SOFT,WONK,opsz,wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "DM Mono";
    src: url("../assets/fonts/dm-mono/DMMono-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "DM Mono";
    src: url("../assets/fonts/dm-mono/DMMono-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

:root {
    --neutral-900: #2B2620;
    --neutral-800: #3E3428;
    --neutral-700: #5A4C3C;
    --neutral-600: #7A6A57;
    --neutral-400: #E4DED5;
    --neutral-200: #F2EEEA;
    --neutral-100: #FBF6EF;
    --neutral-50: #FDFBF7;
    --neutral-0: #FFFFFF;

    --sol-500: #EDB63A;
    --sol-300: #F5D98A;
    --sol-200: #FFDE7A;
    --sol-50: #FFF4DC;

    --terracotta-700: #9F3E1D;
    --terracotta-600: #B7411B;
    --terracotta-500: #C25A2E;
    --terracotta-400: #E07A3F;

    --rose-500: #C04A72;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 16px;
    position: relative;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "SOFT" 0,
        "WONK" 0;
}

.text-preset-1 {
    font-size: 40px;
    line-height: 1.20;
    letter-spacing: -0.5px; 
}
.italic {
    font-style: italic;
}
.text-preset-2 {
    font-size: 32px;
    line-height: 1.20;
    letter-spacing: -0.25px; 
}
.text-preset-3 {
    font-size: 24px;
    line-height: 1.40;
    letter-spacing: -0.2px; 
}
.text-preset-4 {
    font-size: 20px;
    line-height: 1.40;
    letter-spacing: -0.1px; 
}
.text-preset-5 {
    font-family: "Fraunces", serif;
    font-size: 14px;
    line-height: 1.40;
    letter-spacing: 0px;
}
.text-preset-5-medium {
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
}
.text-preset-5-semibold {
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 0.3px;
}
.text-preset-6 {
    font-family: "DM Mono", monospace;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.40;
    letter-spacing: 2px;
}
.text-preset-7 {
    font-family: "DM Sans", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.20;
    letter-spacing: 0.4px;
}
.text-preset-8 {
    font-family: "DM Mono", monospace;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.40;
    letter-spacing: 2px;
}
.text-preset-9 {
    font-family: "DM Mono", monospace;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.40;
    letter-spacing: 0px;
}
.text-preset-10 {
    font-family: "DM Mono", monospace;
    font-size: 10px;
    font-weight: 400;
    line-height: 1.40;
    letter-spacing: 1px;
}
.text-preset-11 {
    font-family: "Fraunces", serif;
    font-size: 10px;
    font-weight: 500;
    line-height: 1.40;
    letter-spacing: 1px;
}

.sidebar {
    position: fixed;
    padding: 16px;
    max-width: 320px;
    background-color: var(--neutral-100);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1000;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.sidebar-visible .sidebar {
    transform: translateX(0);
}

.logo {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid var(--neutral-400);
}

.logo img {
    display: block;
}

.sidebar nav a {
   display: flex;
   align-items: center; 
   gap: 8px;
   text-decoration: none;
   color: var(--neutral-700);
   padding: 12px;
   border-radius: 8px;
   transition: background-color 0.3s ease, color 0.3s ease;
}

.sidebar nav a:hover, .sidebar nav a.active {
    background-color: var(--neutral-0);
    color: var(--neutral-900);
}

.notification-indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    width: 16px;
    height: 16px;
    background-color: var(--terracotta-600);
    color: var(--neutral-100);
    border-radius: 999px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button.close-button {
    appearance: none;
    border: 1px solid var(--neutral-400);
    background-color: transparent;
    border-radius: 4px;
    padding: 8px;
    cursor: pointer;
}

.weather {
    padding: 12px 16px;
    background-color: var(--sol-300);
    border-radius: 16px;
    color: var(--neutral-700);
    background-image: url('../assets/images/icon-weather.svg');
    background-repeat: no-repeat;
    background-position: 105% -200%;
    margin-bottom: 20px;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.04), 0px 10px 24px -16px rgba(194, 46, 40, 0.4);
}

.degrees {
    color: var(--neutral-900);
}

.sidebar footer {
    padding-top: 16px;
    border-top: 1px dashed var(--neutral-400);
    color: var(--neutral-600);
}

.sidebar footer p {
    margin-bottom: 8px;
}

.overlay {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: var(--neutral-900);
    opacity: 0;
    z-index: 500;
    visibility: hidden;
    transition: visibility 0s, opacity 0.3s ease;
}

.mobile-header {
   padding: 16px; 
}

main {
    background-color: var(--neutral-100);
    min-height: 100vh;
}

@media (width <= 768px) {
    .visible {
        visibility: visible;
        opacity: 0.8;
    }
}

@media (width > 768px) {
    .main-container {
        display: grid;
        grid-template-columns: 260px 1fr;
    }
    .sidebar {
        position: static;
        max-width: none;
    }
    button.close-button {
        display: none;
    }
    .mobile-header {
        display: none;
    }
}